
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="titleCU" >Editar Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar Usuarios</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content>
      <ion-textarea  class="ion-input-margin" label="Jorge biuza" labelPlacement="floating" fill="outline" ></ion-textarea>
      <ion-textarea class="ion-input-margin"  label="12345678" labelPlacement="floating" fill="outline"></ion-textarea>
      <ion-textarea class="ion-input-margin" label="estudiante" labelPlacement="floating" fill="outline" ></ion-textarea>
      <ion-textarea class="ion-input-margin" label="61109435" labelPlacement="floating" fill="outline" ></ion-textarea>
      <ion-textarea class="ion-input-margin" label="ninguno" labelPlacement="floating" fill="outline" ></ion-textarea>
      <ion-textarea class="ion-input-margin" label="jorge&#64;gmail.com" labelPlacement="floating" fill="outline" ></ion-textarea>
    <!-- Utilizamos ion-grid para organizar en dos columnas -->
    <ion-item class="bg-color-item input-mg" color="121212">
      <ion-label position="stacked">Roles</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col  >
            <ion-checkbox>
             Administrador
            </ion-checkbox>
          </ion-col>
          <ion-col  >
            <ion-checkbox>
             Usuario
            </ion-checkbox>
          </ion-col>
          <ion-col  >
            <ion-checkbox>
             Encargado
            </ion-checkbox>
          </ion-col>
          <ion-col  >
            <ion-checkbox>
             Tecnico
            </ion-checkbox>
          </ion-col>
          <ion-col  >
            <ion-checkbox>
            Supervisor
            </ion-checkbox>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>

    <ion-button  class="ion-button-margin" expand="full"  shape="round">Editar  Usuario</ion-button>
<br>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-back"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="globe"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

