<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informacion general de la incidencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">infoIncidencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content id="main-content">
    <ion-card *ngFor="let incidencia of incidencias">
      <img [src]="incidencia.imagen">
      <ion-card-header>
        <ion-card-title>
          Título: {{incidencia.titulo}}, ID Incidedencia: {{incidencia.idIncidencia}}
          Lugar: {{incidencia.lugar}}
        </ion-card-title>
        <ion-card-subtitle>
          Fecha: {{incidencia.fecha}}
          Hora: {{incidencia.hora}}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Estado: {{getEstadoDescriptivo(incidencia.idEstado)}} <br>
        Prioridad: {{incidencia.idPrioridad}} <br>
        Justificación de cierre: {{incidencia.justificacionCirre}} <br>
        Prioridad: {{incidencia.idPrioridad}} <br>
        Riesgo: {{incidencia.idRiesgo}} <br>
        Afectación: {{incidencia.idAfectacion}} <br>
        Categoría: {{incidencia.idCategoria}} <br>
        Usuario asignado: {{incidencia.idUsuario}} <br>
      </ion-card-content>

      <ion-button shape="round"  (click)="presentCerrarIncidenciaAlert(incidencia)" (click)="guardarBitacora(incidencia.idIncidencia,'cerrado',incidencia.idEstado)">Cerrar Incidencia</ion-button>
      <ion-button color="danger" shape="round" [disabled]="isIncidenciaCerrada(incidencia)" (click)="presentRechazarIncidenciaAlert(incidencia)"  (click)="guardarBitacora(incidencia.idIncidencia,'Rechazado',incidencia.idEstado)">Rechazado</ion-button>
    </ion-card>

    <ion-card color="medium" *ngFor="let diagnostico of diagnosticos">
      <ion-card-header>
        <ion-card-title>Id Diagnostico {{diagnostico.idDiagnostico}}</ion-card-title>
        <ion-card-subtitle>
          Fecha: {{diagnostico.fecha}}
          Hora: {{diagnostico.hora}}
          Incidencia Asignada: {{diagnostico.idIncidencia}}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Se necesito compra: {{diagnostico.comprar}} <br>
        Tiempo estimado de la solución: {{diagnostico.tiempoS}} <br>
      </ion-card-content>
    </ion-card>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="goBack()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-content>
