<!-- src/app/pages/home/home.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hola Bienvenido {{ nameUser }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Your User ID is: {{ userId }}</p>
      <p>Your Role is: {{ userRole }}</p>
    </ion-card-content>

    <ion-button  routerLink="/create-incidencia">Reportar Incidencias</ion-button>
  </ion-card>

<ion-card *ngFor="let incidencia of incidencias">
    <ion-item>
      <ion-label>
         Tiulo: {{incidencia.titulo}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
         Descripcion: {{incidencia.descripcion}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <img [src]="incidencia.imagen ">
      </ion-label>
    </ion-item>
    <ion-button routerLink="/diagnos-incidencia" (click)="getIncideniciaId(incidencia)">Diagnosticar</ion-button>
      
</ion-card>
</ion-content>
